
<div class="wrap_910">
	<div class="photo photo_title in-shadow">
		<div class="photo__pic">
			<img class="photo__img" src="static/img/content/photo-01.jpg" alt="">
		</div>
		<div class="photo__text">
			<h4 class="title__l">
				«Джонсон & Джонсон» вошла в топ-10 социально <br> ответственных компаний согласно рейтингу <br> журнала FORTUNE «Change the World»
			</h5>
			<div class="read">
				<a href="#" class="read__link">ПОДРОБНЕЕ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>
</div>

<div class="wrap_760">
	<div class="wrap">
		<h4 class="title__xl">
			«Джонсон & Джонсон» вошла в топ-10 социально ответственных компаний согласно рейтингу журнала FORTUNE «Change the World»
		</h4>

		<h6 class="title__sm title_line">
			<span class="title_line_wrap">
				<b class="title__direction">Хирургия</b>
				<span class="title__direction_detail">Ортопедия, сердечно-сосудистые<br> заболевания и специальность</span>
			</span>
		</h6>
		<div class="wrap_740">
			<div class="box_100">
				<p class="desc_xl">7 сентября 2017 г. — Второй год подряд журнал FORTUNE, одно из ведущих мировых бизнес-изданий, включает «Джонсон & Джонсон» в рейтинг «Change the World» («Измени мир»), который отмечает 50 международных компаний, чьи бизнес-стратегии предусматривают деятельность, вносящую существенный вклад в решение глобальных проблем общества. </p>
			</div>
		</div>
	</div>
</div>

<div class="wrap_836 box_40">
	<div class="photo ">
		<div class="photo__pic">
			<img class="photo__img" src="static/img/content/photo-01.jpg" alt="">
		</div>
	</div>
</div>

<div class="wrap_760">
	<div class="box_100">
		<p class="desc_l">В рамках рейтинга 2017 года был отмечен проект «Джонсон & Джонсон» mMitra. Это инновационная программа обмена мобильными сообщениями, которая отправляет жизненно важную информацию о здоровье будущим и молодым матерям, живущим в городских общинах с низким доходом в Индии.</p>
		<p class="desc_l">Программа mMitra (или «мобильный друг» на хинди) была запущена в 2014 году совместно с Фондом Организации Объединенных Наций, Агентством США по международному развитию, онлайн-платформой BabyCenter и местной некоммерческой организацией ARMMAN. Основная цель проекта – спасение 150 индийских матерей и более 3500 детей в возрасте до пяти лет, которые умирают в стране ежедневно в результате осложнений, связанных с беременностью, родами и/или заболеваниями раннего возраста. Такая неутешительная статистика объясняется, в частности, отсутствием доступа населения к базовой медицинской информации.</p>
	</div>
</div>

<div class="wrap_970 box_130">
	{{> module/module}}
</div>


<div class="wrap_760">
	<div class="box_100">
		<p class="desc_l">В настоящее время для фармакотерапии используются препараты следующих фармакологических групп в различных сочетаниях: <span class="details">антиметаболиты <span class="details_info">Антиметаболиты — это цитостатические противоопухолевые химиотерапевтические лекарственные препараты, чей механизм действия основан на ингибировании определённых биохимических процессов, критически необходимых для размножения злокачественных опухолевых клеток, то есть для процесса деления, митоза, репликации ДНК.</span></span>, моноклональные антитела, алкилирующие средства, противоопухолевые средства растительного происхождения, противоопухолевые антибиотики, глюкокортикоиды.</p>
	</div>
</div>

{{> article-slider/article-slider}}

<div class="wrap_760">
	<div class="box_100">
		<h6 class="title__xxl title_small_line">
			<span class="title_line_wrap">3.</span>
		</h6>
		<h5 class="title__sm">Программа mMitra (или «мобильный друг» на хинди)</h5>
		<p class="desc_l">Была запущена в 2014 году совместно с Фондом Организации Объединенных Наций, Агентством США по международному развитию, онлайн-платформой BabyCenter и местной некоммерческой организацией ARMMAN. Основная цель проекта – спасение 150 индийских матерей и более 3500 детей в возрасте до пяти лет, которые умирают в стране ежедневно в результате осложнений, связанных с беременностью, родами и/или заболеваниями раннего возраста. Такая неутешительная статистика объясняется, в частности, отсутствием доступа населения к базовой медицинской информации.</p>
		<div class="context">
			<div class="context__text">
				<p class="desc_l">Большинство женщин по всей Индии имеют доступ к мобильному телефону, поэтому суть программы mMitra заключается в том, чтобы они могли получать бесплатные звонки и сообщения на своем диалекте с экспертной информацией о здоровом образе жизни и профилактике заболеваний во время беременности, а также в первые годы жизни малыша. </p>
				<p class="desc_l">На данный момент программа доступна в 10 странах мира, включая Южную Африку, Малави и Мексику.</p>
				<p class="desc_l">Соединяя медицинских экспертов с будущими и молодыми матерями посредством мобильного телефона, «Джонсон & Джонсон» помогает миру справляться с одним из наиболее серьезных системных кризисов здравоохранения, чтобы обеспечить более здоровое будущее женщинам и детям в развивающихся странах.</p>
			</div>
			<div class="quote">
				<div class="quote__box">
					<div class="quote__line">&#x275D;</div>
					<p class="quote__desc">На данный момент программа доступна в 10 странах мира, включая Южную Африку, Малави и Мексику.</p>
					<div class="quote__line">&#x275E;</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrap_940">
	<div class="box_100">
		<div class="context">
			<div class="context__pic">
				<img class="context__img" src="static/img/content/baby.jpg" alt="picture">
			</div>
			<div class="context__text">
				<h6 class="title__xm">О компании «Джонсон & Джонсон»</h6>
				<p class="desc_l">Компания «Джонсон & Джонсон» нацелена на улучшение здоровья людей по всему миру. Дочерние компании «Джонсон & Джонсон» запустили и продолжают поддерживать множество программ, направленных на улучшение состояния здоровья людей, охрану здоровья матери и ребенка, а также на предотвращение распространения инфекционных и предотвратимых заболеваний по всему миру. Чтобы узнать больше о глобальных программах здравоохранения «Джонсон & Джонсон», посетите сайт
				<a href="http://www.jnj.com/" class="desc__link">http://www.jnj.com/</a>.</p>
			</div>
		</div>
	</div>
</div>

<div class="wrap_910">
	<div class="box_100">
		<h3 class="title__lm  title_line"><span class="title_line_wrap">Главная новость</span></h3>
		<div class="photo photo_title in-shadow">
			<div class="photo__pic">
				<img class="photo__img" src="static/img/content/photo-01.jpg" alt="">
			</div>
			<div class="photo__text">
				<h4 class="title__l">
					«Джонсон & Джонсон» вошла в топ-10 социально <br> ответственных компаний согласно рейтингу <br> журнала FORTUNE «Change the World»
				</h5>
				<div class="read">
					<a href="#" class="read__link">ПОДРОБНЕЕ
						{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box_100">
	<h3 class="title__sx title_line"><span class="title_line_wrap">Направления компании</span></h3>
	{{> flexible/flexible flexible.three}}
</div>

<div class="box_100">
	<h3 class="title__sx title_line"><span class="title_line_wrap">Больше о Johnson & Johnson </span></h3>

	<div class="news">
		<div class="info">
			<div class="info__pic">
				<img src="static/img/content/new-2.jpg" class="info__img" alt="picture">
			</div>

			<div class="info__text">
				<p class="info__desc">
					<strong class="info__last"> последние новости </strong>
				</p>
				<a href="#" class="info__link info__link_cut">Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований биомедицинских исследований</a>
			</div>
		</div>

		<div class="info">
			<div class="info__pic">
				<img src="static/img/content/new-3.jpg" class="info__img" alt="picture">
			</div>

			<div class="info__text">
				<p class="info__desc">
					<strong class="info__last"> последние новости </strong>
				</p>
				<a href="#" class="info__link info__link_cut">Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований биомедицинских исследований</a>
			</div>
		</div>

		<div class="info">
			<div class="info__pic">
				<img src="static/img/content/new-4.jpg" class="info__img" alt="picture">
			</div>

			<div class="info__text">
				<p class="info__desc">
					<strong class="info__last"> последние новости </strong>
				</p>
				<a href="#" class="info__link info__link_cut">Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований биомедицинских исследований</a>
			</div>
		</div>
	</div>

</div>

<div class="wrap_910">
	<div class="box_100">
		<h3 class="title__sx title_line"><span class="title_line_wrap">Больше о Johnson & Johnson </span></h3>


	</div>
</div>
