
.photo
	width: 100%
	overflow: hidden
	+r(780)
		width: calc(100% + 40px)
		margin-left: -20px
	&__pic
		font-size: 0
	&__img
		width: 100%
	&__text
		position: absolute
		bottom: 60px
		left: 12%
		color: #fff
		z-index: 10
		+r(1025)
			left: 8%
		+r(780)
			position: relative
			top: 0
			left: 0
			right: auto
			bottom: auto
			width: 100%
			padding: 20px 20px 30px
			height: auto
			background-color: #F0EFED
			color: $base
			.read
				justify-content: flex-start
				&__link
					padding-right: 43px
					+r(780)
						font-size: 12px
						color: $base
		&.mod_b
			bottom: 20px
	&_title
		margin-bottom: 70px
		+r(780)
			margin-bottom: 30px
		&.box_40
			margin-bottom: 40px
			+r(780)
				margin-bottom: 20px
	.title__l
		+r(1025)
			font-size: 24px
		+r(780)
			font-size: 18px
			margin-bottom: 0

	.read
		justify-content: flex-start

.in-shadow
	position: relative
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 50%
		+g($n, #000)

.context
	display: flex
	justify-content: space-between
	+r(780)
		flex-wrap: wrap
		flex-direction: column
	&__text
		display: inline-block
		flex: 0 0 60%
		+r(780)
			flex: 0 0 auto
	&__pic
		display: inline-block
		vertical-align: top
		flex: 0 0 37%
		font-size: 0
		+r(780)
			position: relative
			width: 100%
			height: 0
			padding-top: 50%
			overflow: hidden
			margin-bottom: 15px
			flex: 0 0 auto
		&.is-border
			border: 1px solid $border
	&__img
		width: 100%
		+r(780)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	.title__sx
		margin-bottom: 5px
		color: $red
		+ar
	.desc__link_red
		text-decoration: underline
		&:hover
			text-decoration: none

.quote
	display: flex
	height: auto
	align-items: center
	flex: 0 0 35%
	+r(780)
		flex: 0 0 auto
		flex-wrap: wrap
	&__line
		position: relative
		margin: 0 auto 20px
		text-align: center
		overflow: hidden
		font-size: 50px
		line-height: 1
		color: $red
		margin: 0
		&:before,
		&:after
			content: ''
			position: relative
			top: .3em
			display: inline-block
			vertical-align: top
			width: 50%
			height: 4px
			background: $n url('../img/content/q-pic.png') 0 0 repeat-x
		&:before
			left: -20px
			margin-left: -50%
		&:after
			left: 20px
			margin-right: -50%
	&__desc
		font-size: 26px
		line-height: 1.38
		color: #767676
		padding: 0 0 20px 0
		text-align: center
		+pr

.about
	display: flex
	justify-content: space-between
	box-shadow: 0px 3px 13px 0px rgba(217, 217, 217, 0.75)
	padding: 40px 45px 50px 85px
	background-color: #FFF
	+r(780)
		flex-wrap: wrap
		flex-direction: column-reverse
		padding: 30px

	&__text
		display: inline-block
		width: 54%
		+r(780)
			width: 100%
	&__what
		color: $red
		text-transform: uppercase
		font-size: 16px
		line-height: 1.5
		margin-bottom: 30px
		+ab
		+r(780)
			font-size: 12px
	.title__ls
		font-weight: 700
	.btn
		display: inline-block
		vertical-align
		margin-top: 50px
		width: 234px
		max-width: 100%
		background-color: #E8E7E4
		border-radius: 50px
		text-align: center
		padding: 14px 20px
		font-size: 18px
		color: $base
		border: none
		outline: none
		cursor: pointer
		+pb
		+r(780)
			font-size: 14px
			margin-top: 30px
		&:hover
			box-shadow: inset 0 0 4px 1px #fff
			+tr(.4s)
	&__pic
		font-size: 0
		width: 40%
		+r(780)
			width: 100%
			text-align: center
			margin-bottom: 20px
	&__img
		max-width: 100%
		display: inline-block
		vertical-align: top

.details
	position: relative
	border-bottom: 1px solid $red
	&__box
		display: none
	&__content
		display: inline-block
		background-color: #fff
		width: 422px
		padding: 24px 20px
		box-shadow: inset 0 0 4px 1px #fff
		font-size: 12px
		+ar
		font-style: italic
		+r(520)
			width: auto
	&__title
		color: $red
		font-size: 12px
		+ar
		font-style: italic

#qtip-details__tooltip
	width: 422px
	max-width: 100%!important
	box-shadow: 0 0 6px rgba(0, 0, 0, .4)
	padding: 0
	background-color: #fff
	border: none
	.qtip-content
		padding: 0
	+r(520)
		width: auto
		max-width: 94%!important
	.qtip-close
		display: inline-block
		top: 0!important
		right: 0
		width: 30px
		height: 30px
		background-color: #fff
		border: none
		padding: 0
		margin: 0
		outline: none
		.ui-icon.ui-icon-close
			display: inline-block
			line-height: 30px
			width: 30px
			height: auto
			font-size: 0
			background-image: url('/static/img/content/icon-close.png')
			background-position: 50% 50%

.infoblock
	display: flex
	width: 100%
	padding: 50px 45px
	align-items: center
	background-color: #fff
	box-shadow: 0px 0px 13px 0px rgba(217, 217, 217, 0.75)
	margin-bottom: 20px
	+r(780)
		display: block
		padding: 20px
	&__pic
		display: inline-block
		vertical-align
		width: 150px
		min-width: 150px
		height: 70px
		margin-right: 80px
		+r(1320)
			width: 90px
			min-width: 90px
			margin-right: 40px
		+r(780)
			display: block
			width: 36px
			min-width: 36px
			height: 36px
			// width: 100%
			// max-width: 100%
			margin: 0 auto 20px
	&__img
		width: auto
		max-width: 100%
		height: 70px
		max-height: 100%
	&__link
		font-size: 30px
		line-height: 1.1
		margin: 0
		color: $red
		+ar
		&:hover
			text-decoration: underline
		+r(780)
			font-size: 14px
	.desc_xl
		margin: 0
		+r(780)
			margin-bottom: 6px
	&.mod_justify
		justify-content: space-between
	&.mod_single
		padding: 26px 40px

.question
	width: 100%
	background-color: #fff
	box-shadow: 0px 3px 13px 0px rgba(217, 217, 217, 0.75)
	padding: 54px 0 40px
	+r(780)
		padding: 15px 020px
	&__form
		width: 624px
		margin: 0 auto
		+r(780)
			width: 100%
	&__fieldset
		display: block
		width: 100%
	&__textarea
		width: 100%
		height: 105px
		background: #F5F7F7
		border: none
		outline: none
		padding: 12px 30px
		margin-bottom: 16px
		resize: none
		border-radius: 16px
		+placeholder
			font-size: 14px
			color: $base
			letter-spacing: .075em
			+ar
	&__inp
		display: block
		width: 100%
		background: #F5F7F7
		border: none
		outline: none
		padding: 12px 30px
		margin-bottom: 16px
		border-radius: 16px
		+placeholder
			font-size: 14px
			color: $base
			letter-spacing: .075em
			+ar
	.title__l
		color: $red
		+pr

.question__fieldset
	.selectric
		display: block
		width: 100%
		background: #F5F7F7
		border: none
		outline: none
		padding: 0px 30px
		margin-bottom: 16px
		border-radius: 16px
		.button
			right: 20px
			color: $base
			&:after
				+arr(12, 7, #000, b)
	.selectric .label
		margin: 0
		font-size: 14px
		line-height: 40px
		height: 40px
		color: $base
		letter-spacing: .075em
		+ar

.illnes__wrap
	.counter
		text-align: center
		+r(1025)
			display: flex
			justify-content: space-around
			align-items: center
			margin: 15px 0
			text-align: left
		+r(780)
			justify-content: center
		+r(500)
			justify-content: space-around
		&__wrap
			display: inline-block
			margin: 0 auto 15px
			padding: 0 14px
			background-image: linear-gradient( 90deg, rgb(217,216,216) 0%, rgb(236,236,236) 17%, rgb(255,255,255) 51%, rgb(243,243,243) 79%, rgb(230,230,230) 100%)
			+r(1025)
				margin: 0 6px 0 0
				min-width: 230px
				width: 230px
			+r(780)
				margin: 0 16px 0 0
				min-width: 0
				width: auto
			+r(500)
				padding: 0 2px
				margin: 0 0px 0 0

		&__desc
			font-size: 0
			span
				font-size: 48px
				color: $red
				padding: 0 3px
				position: relative
				display: inline-block
				vertical-align
				+ab
				+r(780)
					font-size: 50px
				+r(500)
					font-size: 36px
					padding: 0 2px
				&:after
					content: ''
					position: absolute
					top: .4em
					bottom: .4em
					right: -1px
					width: 1px
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(193, 193, 193,1) 35%, rgba(193, 193, 193,1) 65%, rgba(0,0,0,0) 100%)
				&:last-child:after
					content: none
		&__pic
			margin: 0 auto 15px
			display: inline-block
			vertical-align: top
			width: 75px
			height: 75px
			+r(1025)
				height: auto
				max-height: 100%
				width: 51px
				margin: 0 0 3px
		&__help
			display: block
			+r(1025)
				height: 65px
				display: inline-block
				vertical-align: top
				text-align: center
				.title__tt
					font-size: 10px
					line-height: .8

.big-count
	.counter
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden
		&__wrap
			position: relative
			display: flex
			height: 90px
			margin: 0 20px 15px
			padding: 0 25px
			background-image: linear-gradient( 90deg, rgb(217,216,216) 0%, rgb(236,236,236) 17%, rgb(255,255,255) 51%, rgb(243,243,243) 79%, rgb(230,230,230) 100%)
			&:after
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: -20px
				right: -20px
				box-shadow: inset 0px 0px 30px 6px #9a9a9a
				pointer-events: none
			+r(780)
				height: 70px
			+r(650)
				padding: 0 4px
			+r(500)
				width: auto
				min-width: 0
				height: 44px
				padding: 0 2px
				margin: 0 5px 0 0

		&__desc
			font-size: 0
			span
				font-size: 103px
				color: $red
				padding: 4px 3px
				position: relative
				display: inline-block
				vertical-align
				line-height: 80px
				+ab
				+r(780)
					font-size: 60px
					line-height: 64px
				+r(500)
					line-height: 44px
					font-size: 36px
					padding: 0 2px
				&:after
					content: none
				&:before
					content: none
				// &:after
				// 	content: ''
				// 	position: absolute
				// 	top: .4em
				// 	bottom: .4em
				// 	right: -1px
				// 	width: 1px
				// 	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(193, 193, 193,1) 35%, rgba(193, 193, 193,1) 65%, rgba(0,0,0,0) 100%)
				// &:last-child:after
				// 	content: none
		&__pic
			margin: 0 auto 15px
			display: inline-block
			vertical-align: top
			width: 75px
			height: 75px
			+r(1025)
				height: auto
				max-height: 100%
				width: 51px
				margin: 0 0 3px
			+r(500)
				width: 35px

		&__help
			display: inline-block
			+r(500)
				height: 47px
				vertical-align: top
				text-align: center
			// 	.title__tt
			// 		font-size: 10px
			// 		line-height: .8
		.title__tt
			margin: 0
			+r(500)
				font-size: 10px

#counter
	.counter__wrap
		overflow: hidden
.counter_num
	position: relative
	display: inline-block
	vertical-align: top
	width: 50px
	+r(650)
		width: 32px
	+r(500)
		width: 22px
	&:after
		content: ''
		position: absolute
		top: 0px
		bottom: 0
		right: -1px
		width: 1px
		background-color: rgba(193, 193, 193,.4)
		// height: 50px
		// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(193, 193, 193,1) 35%, rgba(193, 193, 193,1) 65%, rgba(0,0,0,0) 100%)
	&:last-child:after
		content: none
	span
		display: block!important
		line-height: 1

