<div class="startscreen">
	<div class="startscreen__slider">
		<div class="startscreen__item" tabindex="0">
			<div class="startscreen__pic">
				<img src="static/img/general/main.jpg" alt="picture" class="startscreen__img">
			</div>
			<div class="startscreen__content">
				<div class="startscreen__text">
					<h4 class="startscreen__title">Лекарственные <br> средства</h4>
					<div class="read">
						<a href="#" class="read__link">ПОДРОБНЕЕ
							{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="startscreen__item" tabindex="0">
			<div class="startscreen__pic">
				<img src="static/img/general/main.jpg" alt="picture" class="startscreen__img">
			</div>
			<div class="startscreen__content">
				<div class="startscreen__text">
					<h4 class="startscreen__title">Лекарственные <br> средства</h4>
					<div class="read">
						<a href="#" class="read__link">ПОДРОБНЕЕ
							{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="startscreen__item" tabindex="0">
			<div class="startscreen__pic">
				<img src="static/img/general/main.jpg" alt="picture" class="startscreen__img">
			</div>
			<div class="startscreen__content">
				<div class="startscreen__text">
					<h4 class="startscreen__title">Лекарственные <br> средства</h4>
					<div class="read">
						<a href="#" class="read__link">ПОДРОБНЕЕ
							{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
