// Common styles of the project

*
	box-sizing: border-box;
	&:after,
	&:before
		box-sizing: inherit
svg
  box-sizing: content-box

html
	+selection
		background: rgba(0, 0, 0, .2)
		color: #fff

html,
body
	width: 100%
	height: 100%
	background-color: $body
	min-width: 260px
	font-size: 13px
	line-height: 1.53
	// -webkit-font-smoothing: antialiased !important

.page

.page__wrapper
	min-height: 100%

* html .page__wrapper
	height: 100%

.page__buffer
	height: 50px

.layout
	&-big
		display: block
		width: calc(100% - 40px)
		margin: 0 auto
		max-width: 1146px
		padding: 0 20px
		+tr(.3s)
		&.nav-open
			max-width: calc(1146px + 365px)
			padding-left: 365px
		+r(1550)
			margin: 0 auto

		+r(1320)
			width: 100%
			margin: 0
			padding: 0 20px 0 80px
		+r(1025)
			padding: 0 20px 0

	&_flex
		display: flex
		align-items: center
		justify-content: space-between

.read
	display: flex
	align-items: center
	justify-content: center
	margin-top: 20px
	&__link
		position: relative
		text-transform: uppercase
		white-space: nowrap
		font-size: 18px
		color: #fefefe
		padding-right: 56px
		+r(500)
			font-size: 12px
			padding-right: 46px
		&:hover
			opacity: .9
			.icon-next
				background-color: #A61502
	.icon-next
		position: absolute
		// top: -6px
		top: 50%
		+try(-50%)
		right: 0
		width: 16px
		height: 16px
		border-radius: 100%
		padding: 10px
		background-color: $red
		fill: #fff
		+tr(.4s)
		+r(780)
			padding: 4px
	&.read_small
		text-align: left
		font-size: 16px
		margin-top: 15px
		justify-content: flex-start
		.read__link
			font-size: 16px
			color: $base
			text-transform: none


h1, h2, h3, h4, h5, h6
	margin: 0 0 .8em
	font-weight: normal
	line-height: 1.1
h1
	font-size: 2em
h2
	font-size: 1.8em
h3
	font-size: 1.6em
h4
	font-size: 1.5em
h5
	font-size: 1.4em
h6
	font-size: 1.3em
a
	text-decoration: none
	outline: none
	cursor: pointer

p
	margin: 0

.wrap
	&_740
		width: 96%
		max-width: 740px
		margin: 0 auto
	&_760
		width: 96%
		max-width: 760px
		margin: 0 auto
	&_836
		width: 96%
		max-width: 836px
		margin: 0 auto
	&_910
		width: 96%
		max-width: 910px
		margin: 0 auto
	&_940
		width: 96%
		max-width: 940px
		margin: 0 auto
	&_970
		width: 96%
		max-width:
		margin: 0 auto
	&_1020
		width: 96%
		max-width: 1020px
		margin: 0 auto


/*-  title  -*/
.title
	&__xxl
		font-size: 72px
		line-height: .9
		margin-bottom: 25px
		color: $red
		+pr
	&__xl
		font-size: 48px
		line-height: 1.25
		color: $base
		+pb
	&__lm
		font-size: 40px
		line-height: 1.25
		color: $base
		margin-bottom: .8em
		+pb
	&__l
		font-size: 30px
		line-height: 1.2
		margin-bottom: .8em
		+pb
	&__sm
		font-size: 26px
		line-height: 1
		margin-bottom: 10px
		color: #404040
		+prr
	&__sx
		font-size: 24px
		line-height: 1
		margin-bottom: 30px
		color: #404040
		+pr
	&__xm
		font-size: 20px
		line-height: 1.2
		margin-bottom: 10px
		color: #404040
		+prr
	&__m
		font-size: 18px
		line-height: 1.3333
		color: $base
		+pb
	&_small_line,
	&_line
		position: relative
		left: 400px
		width: 800px
		margin: 0 auto 20px
		padding: 0 20px
		text-align: center
		overflow: hidden
		+trx(-50%)
		&_wrap
			display: inline-block
			background-color: #fff
			padding: 0 30px
			margin: 0 auto
			&:before
				content: ''
				position: absolute
				top: .5em
				left: 0
				right: 0
				height: 0
				border-bottom: 2px solid $border
				z-index: -2
			&:after
				content: ''
				position: absolute
				bottom: 0
				top: .5em
				left: 0
				right: 0
				border: 2px solid $border
				border-top: none
				border-bottom: none

	&_small_line
		width: 300px
		left: 25%
		background-color: #fff
		&
	&__direction
		display: inline-block
		color: #949494
		vertical-align: top
		padding-right: .5em
		border-right: 2px solid $border

/*- desc -*/
.desc
	&_xl
		font-size: 24px
		line-height: 1.5
		color: #767676
		margin-bottom: 1em
		+al
	&_l
		font-size: 18px
		line-height: 1.3333
		margin-bottom: 1em
		+al
	&_m
		font-style: 16px
		line-height: 1.5
		color: $base
		+ar
		&_limit-2
			+limitLines( $maxLinesPortrait: 2, $maxLinesLandscape: 2, $fgCol: #fff, $bgCol: #fff, $lineHeight: 1.5)
	&_s
		font-style: 14px
		line-height: 1.28
		color: $base
		+ar
		&_limit-3
			+limitLines( $maxLinesPortrait: 3, $maxLinesLandscape: 3, $fgCol: #fff, $bgCol: #fff, $lineHeight: 1.28)
	&__link
		font-size: inherit
		color: inherit
		+tr(.4s)
		&:hover
			color: $red

/*- box -*/
.box
	&_130
		margin-bottom: 130px
	&_100
		margin-bottom: 100px
	&_80
		margin-bottom: 80px
	&_40
		margin-bottom: 40px

.mt-70
	margin-top: 70px


.hide_mob
	+r(1025)
		display: none !important