// /* Your custom fonts here */

+font('akzidenzgroteskpro-regular-webfont', 'akzidenzgroteskpro-regular-webfont')
+font('ptf75f_0-webfont', 'ptf75f_0-webfont')
+font('opensans-regular-webfont', 'opensans-regular-webfont')

=os
	font-family: 'opensans-regular-webfont', Arial, sans-serif
=pb
	font-family: 'ptf75f_0-webfont', Arial, serif
=ar
	font-family: 'akzidenzgroteskpro-regular-webfont', Arial, sans-serif