// /* Your custom fonts here */

+font('akzidenzgroteskpro-regular-webfont', 'akzidenzgroteskpro-regular-webfont')
+font('akzidenzgroteskpro-boldcn-webfont', 'akzidenzgroteskpro-boldcn-webfont')
+font('akzidenzgroteskpro-light-webfont', 'akzidenzgroteskpro-light-webfont')
+font('akzidenzgroteskpro-md-webfont', 'akzidenzgroteskpro-md-webfont')

+font('ptf75f_0-webfont', 'ptf75f_0-webfont')
+font('opensans-regular-webfont', 'opensans-regular-webfont')

=os
	font-family: 'opensans-regular-webfont', Arial, sans-serif
=pb
	// font-family: 'ptf75f_0-webfont', Arial, serif
	font-family: 'PT Serif', serif
	font-weight: 700
=pr
	font-family: 'PT Serif', serif
	font-weight: 400
	// font-family: 'ptf55f_0-webfont', Arial, serif//add regular
=prr
	font-family: 'Prata', serif
=ar
	font-family: 'akzidenzgroteskpro-regular-webfont', Arial, sans-serif
=am
	font-family: 'akzidenzgroteskpro-md-webfont', Arial, sans-serif
=al
	font-family: 'akzidenzgroteskpro-light-webfont', Arial, sans-serif
=ab
	font-family: 'akzidenzgroteskpro-boldcn-webfont', Arial, sans-serif