// /* Your custom fonts here */

+font('akzidenzgroteskpro-regular-webfont', 'akzidenzgroteskpro-regular-webfont')
+font('ptf75f_0-webfont', 'ptf75f_0-webfont')
+font('opensans-regular-webfont', 'opensans-regular-webfont')

=os
	font-family: 'opensans-regular-webfont', Arial, sans-serif
=pb
	font-family: 'ptf75f_0-webfont', Arial, serif
=pr
	font-family: 'ptf75f_0-webfont', Arial, serif//add regular
=prr
	font-family: 'prata-regular-webfont', Arial, serif
=ar
	font-family: 'akzidenzgroteskpro-regular-webfont', Arial, sans-serif
=al
	font-family: 'akzidenzgroteskpro-light-webfont', Arial, sans-serif
=ab
	font-family: 'akzidenzgroteskpro-boldcn-webfont', Arial, sans-serif