<div class="news">
	<div class="info info-wide">
		<div class="info__pic">
			<img src="static/img/content/new-1.jpg" class="info__img" alt="news pic">
		</div>
		<div class="info__text">
			<p class="info__desc">
				<time datetime="2017-10-03T08:23:11+07:00" class="info__time">03 октября, 2017</time>
			</p>
			<p class="info__desc">Юлия Маркова вошла в топ-25 женщин-CEO российского бизнеса по версии РБК</p>
			<div class="read">
				<a href="#" class="read__link">ЧИТАТЬ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>

	<div class="info"  tabindex="0">
		<div class="info__pic">
			<img src="static/img/content/new-2.jpg" class="info__img" alt="picture">
		</div>

		<div class="info__text">
			<p class="info__desc">
				<time datetime="2017-10-03T08:23:11+07:00" class="info__time">03 октября, 2017</time>
			</p>
			<a href="#" class="info__link info__link_cut">Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований биомедицинских исследований</a>
		</div>
	</div>

	<div class="info"  tabindex="0">
		<div class="info__pic">
			<img src="static/img/content/new-3.jpg" class="info__img" alt="picture">
		</div>

		<div class="info__text">
			<p class="info__desc">
				<time datetime="2017-10-03T08:23:11+07:00" class="info__time">03 октября, 2017</time>
			</p>
			<a href="#" class="info__link info__link_cut">Компания «Янссен» запускает сайт www.schizophrenia24x7.ru в помощь пациентам с шизофренией пациентам с шизофренией</a>
		</div>
	</div>

	<div class="info"  tabindex="0">
		<div class="info__pic">
			<img src="static/img/content/new-4.jpg" class="info__img" alt="picture">
		</div>

		<div class="info__text">
			<p class="info__desc">
				<time datetime="2017-10-03T08:23:11+07:00" class="info__time">03 октября, 2017</time>
			</p>
			<a href="#" class="info__link info__link_cut">«Джонсон & Джонсон» представляет новое направление CERENOVUS</a>
		</div>
	</div>

	<div class="info"  tabindex="0">
		<div class="info__pic">
			<img src="static/img/content/new-5.jpg" class="info__img" alt="picture">
		</div>

		<div class="info__text">
			<p class="info__desc">
				<time datetime="2017-10-03T08:23:11+07:00" class="info__time">03 октября, 2017</time>
			</p>
			<a href="#" class="info__link info__link_cut">«Янссен» объявляет об изменениях в руководстве компании в России и СНГ</a>
		</div>
	</div>

	<div class="news__more">
		<div class="news__more_line">
			<div class="read">
				<a href="#" class="read__link">ВСЕ НОВОСТИ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>

</div>