<div class="module">
	<div class="module__wrap">
		<div class="module__pic">
			<img class="module__img" src="static/img/content/mod.jpg" alt="">
		</div>
		<div class="module__text">
			<h5 class="title__m">О компании «Джонсон & Джонсон»</h5>
			<p class="desc_m desc_m_limit-2">Дочерние компании «Джонсон & Джонсон» запустили и продолжают поддерживать множество программ...</p>
			<div class="read read_small">
				<a href="#" class="read__link">Подробнее
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
</div>
</div>
