
<div class="wrap wrap_910 box_100">
	<h4 class="title__l is-center">Корпоративная культура </h4>
</div>

<div class="wrap wrap_910  box_100">
	<h4 class="title__xl title_line is-regular">
		<span class="title_line_wrap"> Health & Wellness</span>
	</h4>
	<div class="photo photo_title in-shadow">
		<div class="photo__pic">
			<img class="photo__img" src="static/img/content/img-10.jpg" alt="">
		</div>
		<div class="photo__text">
			<h4 class="title__l">
				6 вещей, которые мы теперь знаем о депрессии
			</h5>
			<div class="read">
				<a href="#" class="read__link">ПОДРОБНЕЕ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>
	<div class="is-center">
		<a class="btn btn-more" href="#">Показать больше</a>
	</div>
</div>

<div class="wrap wrap_910  box_100">
	<h4 class="title__xl title_line is-regular">
		<span class="title_line_wrap"> Diversity & Inclusion</span>
	</h4>
	<div class="photo photo_title in-shadow">
		<div class="photo__pic">
			<img class="photo__img" src="static/img/content/img-11.jpg" alt="">
		</div>
		<div class="photo__text">
			<h4 class="title__l">
				4 пути Джонсон и Джонсон помогли <br> развить будущие лидеры STEM
			</h5>
			<div class="read">
				<a href="#" class="read__link">ПОДРОБНЕЕ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>
	<div class="is-center">
		<a class="btn btn-more" href="#">Показать больше</a>
	</div>
</div>

<div class="wrap wrap_910  box_100">
	<h4 class="title__xl title_line is-regular">
		<span class="title_line_wrap">Societal Impact</span>
	</h4>
	<div class="photo photo_title in-shadow">
		<div class="photo__pic">
			<img class="photo__img" src="static/img/content/img-12.jpg" alt="">
		</div>
		<div class="photo__text">
			<h4 class="title__l">
				Фонд «Лучшие Друзья»: Дружим с ребятами <br> с нарушениями развития
			</h5>
			<div class="read">
				<a href="#" class="read__link">ПОДРОБНЕЕ
					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
				</a>
			</div>
		</div>
	</div>
	<div class="is-center">
		<a class="btn btn-more" href="#">Показать больше</a>
	</div>
</div>
