

<div class="startscreen">

	<div class="swiper-container">
	    <div class="swiper-wrapper">
	      <div class="swiper-slide">
	      	<img src="static/img/general/main.jpg" alt="slidePic" class="slide__pic">
	      	<div class="startscreen__content">
	        	<div class="startscreen__text">
	        		<h4 class="startscreen__title">Лекарственные <br> средства</h4>
	        		<div class="read">
	        			<a href="#" class="read__link">ПОДРОБНЕЕ
	        				{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
	        			</a>
	        		</div>
	        	</div>
	        </div>
	      </div>

	      <div class="swiper-slide">
	      	<img src="static/img/general/main.jpg" alt="slidePic" class="slide__pic">
	      	<div class="startscreen__content">
	      		<div class="startscreen__text">
	      			<h4 class="startscreen__title">Лекарственные <br> средства</h4>
	      			<div class="read">
	      				<a href="#" class="read__link">ПОДРОБНЕЕ
	      					{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
	      				</a>
	      			</div>
	      		</div>
	      	</div>
	      </div>
	    </div>
	    <div class="swiper-pagination"></div>
	  </div>
</div>