
<section class="slider">
    <div class="slider__container">
        <div class="slider__item">
            <div class="slider__pic">
                <img class="slider__img" src="static/img/general/slide-01.jpg" alt='picture' >
            </div>
            <div class="slider__text">
                <div class="slider__br">
                    <h4 class="slider__title">социальная ответственность</h4>
                </div>
                <p class="slider__desc">6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей</p>
                <div class="slider__read">
                    <a href="#" class="slider__link">ЧИТАТЬ
                        {{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
                    </a>

                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img class="slider__img" src="static/img/general/slide-01.jpg" alt='picture' >
            </div>
            <div class="slider__text">
                <div class="slider__br">
                    <h4 class="slider__title">социальная ответственность</h4>
                </div>
                <p class="slider__desc">6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей</p>
                <div class="slider__read">
                    <a href="#" class="slider__link">ЧИТАТЬ
                        {{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
                    </a>

                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img class="slider__img" src="static/img/general/slide-01.jpg" alt='picture' >
            </div>
            <div class="slider__text">
                <div class="slider__br">
                    <h4 class="slider__title">социальная ответственность</h4>
                </div>
                <p class="slider__desc">6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей</p>
                <div class="slider__read">
                    <a href="#" class="slider__link">ЧИТАТЬ
                        {{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
                    </a>

                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img class="slider__img" src="static/img/general/slide-01.jpg" alt='picture' >
            </div>
            <div class="slider__text">
                <div class="slider__br">
                    <h4 class="slider__title">социальная ответственность</h4>
                </div>
                <p class="slider__desc">6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей</p>
                <div class="slider__read">
                    <a href="#" class="slider__link">ЧИТАТЬ
                        {{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
                    </a>

                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img class="slider__img" src="static/img/general/slide-01.jpg" alt='picture' >
            </div>
            <div class="slider__text">
                <div class="slider__br">
                    <h4 class="slider__title">социальная ответственность</h4>
                </div>
                <p class="slider__desc">6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей</p>
                <div class="slider__read">
                    <a href="#" class="slider__link">ЧИТАТЬ
                        {{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="slider__btns">
        <button class="slid-prev">
            {{Icon iconName='icon-left' className='icon-left' iconWidth='25' iconHeight='25'}}
        </button>
        <button class="slid-next">
            {{Icon iconName='icon-right' className='icon-right' iconWidth='25' iconHeight='25'}}
        </button>
    </div>

</section>