
<div class="startscreen">
	<div class="csslider">
	  <input type="radio" name="slides" id="slides_1" checked />
	  <input type="radio" name="slides" id="slides_2" />
	  <ul>
	      <li class="cssslider__item">
	        <img src="static/img/general/main.jpg" alt="slidePic" class="slide__pic">
	        <div class="startscreen__content">
	        	<div class="startscreen__text">
	        		<h4 class="startscreen__title">Лекарственные <br> средства</h4>
	        		<div class="read">
	        			<a href="#" class="read__link">ПОДРОБНЕЕ
	        				{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
	        			</a>
	        		</div>
	        	</div>
	        </div>
	      </li>
	      <li class="cssslider__item">
	        <img src="static/img/general/main.jpg" alt="slidePic" class="slide__pic">
	        <div class="startscreen__content">
	        	<div class="startscreen__text">
	        		<h4 class="startscreen__title">Лекарственные <br> средства</h4>
	        		<div class="read">
	        			<a href="#" class="read__link">ПОДРОБНЕЕ
	        				{{Icon iconName='icon-right' className='icon-next' iconWidth='25' iconHeight='25'}}
	        			</a>
	        		</div>
	        	</div>
	        </div>
	      </li>
	  </ul>
	  <div class="navigation">
	    <div>
	      <label for="slides_1"></label>
	      <label for="slides_2"></label>
	    </div>
	  </div>
	</div>
</div>